$label-color: #333;
$background-color: #f5f5f5;
$gray: rgb(149 155 165);
$light-gray: rgb(229 231 235);
$rounded: 0.25rem;
$border: 1px solid $gray;

$font-sm: 0.875rem; // 14px
$font-xs: 0.75rem; // 12px

.arform {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-inner {
      font-size: $font-sm;
      color: $label-color;
    }

    &--is-row {
      flex-direction: row;
      align-items: center;
    }
  }

  &__input {
    background: $background-color;
    border: $border;
    padding: 0.5rem 0.75rem;
    border-radius: $rounded;

    &--has-prefix {
      border-radius: 0 $rounded $rounded 0;
    }
  }

  &__textarea {
    background: $background-color;
    border: $border;
    padding: 0.5rem;
    border-radius: $rounded;
    max-width: 100%;
  }

  &__checkbox {
    background: $background-color;
    border: $border;
    padding: 0.5rem;
    border-radius: $rounded;
    order: -9999;
    align-self: flex-start;
  }

  &__upload {
    background: $background-color;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px dashed $gray;

    &--is-active {
      border-inline-style: solid;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &__select {
    background: $background-color;
    border: $border;
    padding: 0.5rem 0.75rem;
    border-radius: $rounded;
  }

  &__prefix {
    display: flex;
    width: 100%;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-sm;
      background: $light-gray;
      flex-grow: 0;
      border: $border;
      border-radius: $rounded 0 0 $rounded;
      margin-right: -1rem;
      padding-right: 1.5rem;
      padding-left: 0.5rem;
    }

    &-input {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__error {
    color: rgb(157, 21, 21);
    font-size: $font-xs;
    line-height: 1rem;
    text-transform: capitalize;
  }
}
